.App {
  text-align: center;
}

.discussion-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3em;
  border: 1px solid;
  border-radius: 10px;
}

.all-posts-containter {
  padding-top: 20px;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 10px;
  width: 1000px;
}
