.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

/* Center the main panel  */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

/* Main screen section */
.main-screen-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  height: 900px;

  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;

  border: 1px solid #e1e8ed;
  /* background-color: #aab8c2; */

  border-radius: 10px;

  grid-column-start: 2;
  grid-column-end: 3;

  position: relative;
}

.all-posts-containter {
  /* display: flex; */
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 2;
  grid-row-end: 3;

  /* background-color: #aab8c2; */

  height: 650px;

  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 80px;

  overflow-y: scroll;
}

.subreddit-search {
  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 1;
  grid-row-end: 1;
}

.post-container {
  display: inline-block;
  justify-content: center;

  align-items: center;
  vertical-align: middle;

  height: 200px;
  width: 1100px;

  margin-bottom: 20px;
  margin-right: 10px;
  padding-right: 20px;
  /* border: 1px solid; */
  /* border-radius: 10px;  */
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-radius: 10px;
  overflow: auto;
}

.sidebar-container {
  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-radius: 10px;

  margin-left: 50px;
  margin-right: 20px;

  width: 300px;
  height: 800px;

  grid-column-start: 1;
  grid-column-end: 2;
}

/* Remove bullet points from list element */
.post-container li {
  list-style: none;
  text-align: left;
}

.post-title {
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

.post-content {
  border-top: 3px solid #e1e8ed;

  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding-top: 10px;
}

.sliding-menu-container {
  overflow: hidden;

  position: absolute;
  top: 82%;
  left: 0%;

  width: 90%;
  height: 15%;

  margin-right: 50px;
  margin-left: 50px;

  border-top: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-radius: 5px;
}
